.card {
    position : relative
}

.card img {
    border: 2px solid #000;
    display: block;
    border-radius: 6px;
    width: 200px;
    height: 200px;
}


.card .front {
    visibility: hidden;
    position: absolute;
}

.flipped .front {
    visibility: visible;
    position: absolute;
}